doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title Atributos
	body
		nav
			ul
				//atributos en línea
				li
					a(href='http://maps.google.com',target='blank', class='link' ) Google Maps 
				li 
					a(href='http://translate.google.com' target='blank' class='link') Google translate	
				//atributos Multi Línea
				li
					a(href='http://images.google.com'
					target='blank'
					class='link') Google imágenes	