doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title comentarios
	body
		//esto es un comentario visible en HTML
		h1 comentarios
		//-este es un comentario solo de PUG no es visible en HTML

		//- esto es un comentarios dee
			múltiples líneas de código
			y no es visible en html

		//
			esto es un comentario de 
			múltiples líneas de código
			y es visible en HTML	
	