<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		title Iteraciones
		style.
			li {
				list-style: none;
				padding: 20px;
			}
	body
		ul #666
			each val. index in ['yellow', 'blue', 'red']
				li(style={background()})= index + ': ' + val