body{
    background-color: rgb(122, 58, 165);
    font: 16px Arial;
}
main {
    margin: 20px auto;
    width: 1024px;
}
main header h1{
    background-color: rgba(0, 0, 0, 0.582);
    color: antiquewhite;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}   
main section {
    background-color: rgba(0, 0, 0, 0.219);
    color: rgba(255, 255, 255, 0.719);
    padding: 10px;
}