h1 {
	background-color: #B0E0E6;
	border-bottom: 10px dotted pink;
	color: 	#708090;
	font-family: arial;
	margin: 0px auto;
	padding: 20px;
	text-align: center;
	transition: all 0.5s ease-in;
	width: 640px;
}
h1:hover {
	border-bottom:20px solid #00FF7F;
	cursor: pointer;
	transform: scale(1);
}